@font-face {
  font-family: 'Bugaki';
  src: url('./public/Bugaki-Regular.otf');
}

@font-face {
  font-family: 'Caladea';
  src: url('./public/Caladea-Regular.ttf');
}

body {
  background-color: #fff5f9;
}

section {
  height: 500px;
  width: 90%;
  display: flex;
  margin: auto;
  border: 1px solid purple;
}

h1,
h2,
h3 {
  font-family: 'Bugaki';
  color: #0c1765
}

.home {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home>div>h1 {
  font-size: 66.6px;
  padding-right: 10px;
  margin: 0;
}

.home>div>img {
  margin: auto;
}

.subtitle {
  font-size: 24px;
  font-family: 'Caladea';
  background-color: #0c1765;
  border-radius: 50px;
  color: #fff5f9;
  width: fit-content;
  padding: 6px 34px;
  border: 1px solid transparent;
  margin-top: 10px;
}

.announcements {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.announcements>div>h2 {
  font-size: 39.1px;
  text-align: center;
  margin: 0;
}

.announcements>div {
  width: 360px;
}

.announcements>img {
  width: 360px;
  margin-top: 50px;
}

.text-block {
  background-color: white;
  padding: 20px;
  border-radius: 16px;
}

.text-block>p {
  font-size: 16.4px;
  /* line-height: 1.2rem; */
}

.highlights {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.highlights>h2 {
  font-size: 44px;
  margin-top: 80px;
}

.articles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16px;
}

.article-img {
  position: relative;
  width: 120px;
  top: -70px;
}

.article-top {
  background-color: #fdc8d7;
  border-radius: 20px;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-bottom {
  background-color: #ffffff;
  border-radius: 20px;
  height: 200px;
  width: 200px;
  position: relative;
  top: -80px;
}

.article-bottom>h3 {
  text-align: center;
}

.article-bottom>p {
  font-size: 12px;
  font-family: 'Caladea';
  color: #0c1765;
  padding: 0px 20px;
}

.updates {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.updates>div>h2 {
  font-size: 55px;
  margin: 0;
}

.updates>div>img {
  width: 100px;
}

.update-card-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.update-card {
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.update-img {
  width: 60px;
  padding-right: 25px;
}

.update-left {
  background-color: #fdc8d7;
  border-radius: 20px;
  height: 120px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: -36px;
  z-index: -1;
}

.update-right {
  background-color: #ffffff;
  display: inline-block;
  border-radius: 20px;
  height: 120px;
  width: 410px;
}

.update-right>h3 {
  font-size: 18px;
  margin-top: 16px;
  margin-bottom: 2px;
  margin-left: 34px;

}

.update-right>p {
  font-size: 15px;
  margin-top: 0px;
  margin-left: 34px;
  padding-right: 30px;
}


.spotlight {
  display: flex;
  flex-direction: row;
}

.spotlight-img {
  width: 250px;
}

.spotlight>div>h2 {
  font-size: 50px;
  margin-bottom: 0;
}

.spotlight>div>p {
  font-size: 20px;
  color: #0c1765;
  width: 250px;
}



.profile-card-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 40px;
}

.profile-card {
  margin: 10px;
}

.profile-card>img {
  width: 180px;
  position: relative;
  bottom: -76px;
  z-index: -1;
}

.profile-bio {
  background-color: #ffffff;
  border-radius: 10px;
  height: 120px;
  width: 180px;
}

.name-p {
  font-size: 12.2px;
  color: #ffffff;
  margin: auto;
  background-color: #0c1765;
  padding: 5px 25px;
  text-align: center;
  border-radius: 50px;
  font-family: 'Bugaki';
  width: 90px;
  position: relative;
  top: -14px;
}

.position-p {
  font-size: 16.6px;
  text-align: center;
  font-family: 'Caladea';
  margin-top: 0;
}

.content-p {
  font-size: 14.8px;
  text-align: center;
  font-family: 'Caladea';
  margin: 0 44px;
}